﻿@model List<BrandModel>

@{
    ViewData["Title"] = "Brands";
}

<h1>Brands</h1>
<a asp-controller="Brand" asp-action="Create">Create</a>
<table>
    <tr>
        <th>Brand</th>        
    </tr>
    @foreach (var brand in Model)
    {
    <tr>
        <td>@brand.Name</td>
    </tr>
    }
</table>